<div>
  <img src="https://media.licdn.com/dms/image/v2/D5603AQHk79qWBDn4Fw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1689886128710?e=1737590400&v=beta&t=JxyZuuL8rwV72ALtDli7I9lDibCaSTE1BkleZjA19ww" alt="Headshot of Andrew Litt">
  <p>
    Written by <strong>Andrew Litt</strong> who lives and works in Toronto.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
